#menu {
    position: fixed; /* Makes the menu stay in place while scrolling */
    top: 2%; /* Aligns the menu at the top */
    left: 2%; /* Aligns the menu to the left */
    width: 5%; /* Adjust as needed */
    padding: 3px; /* Adds some space inside the container */
    box-sizing: border-box; /* Ensures padding does not add to the width */
}

#menu a {
    text-align: center;
    display: block; /* Makes each link fill the container */
    padding: 10px; /* Adds some space around the link text */
    margin-bottom: 2%; /* Adds space between the buttons */
    background-color: rgb(249, 247, 244); /* Optional: sets the background color of the button */
    color: black; /* Text color */
    text-decoration: none; /* Removes underline from links */
    border: 1px dashed black; /* Adds the thin black border */
    box-sizing: border-box; /* Ensures padding doesn't increase the size */
    font-size: small;
}

#blog h2 {
    padding: 1%;
}

#blog a {
    text-decoration: none;
    color: rgb(36, 77, 213);
}

#title_card h3 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(7, 7, 7);
}

body {
    text-align: left;
    display: block;
    font-family: Menlo, Monaco, monospace;
    margin: 0 20%;
    background-color:rgb(246, 244, 244);
}

h1 {
    margin: 0 10%;
    text-align: center;
}